.text-container{
    padding-left: 100px;
    width: 470px;
}

.personal-thing{
    display: flex;
        img{
            margin: 35px;
        }
}

.image-container{
    width: 450px;
    height: 450px;
    background-color: #141D2F;
    border-radius: 100%;
    border: 4px solid #70E61C;
    margin-right: 270px;
    img{
        width: 100%;
        height: 100%;
        border-radius: 100%;
        object-fit: cover;
    }
}

.decoration-stripe{
    position: absolute;
    right: 0;
    top: 59%;
    transform: translateY(-50%);
    width: 270px;
    height: 0px;
    border-bottom: 4px solid #70E61C;
}

.shadow{
    position: absolute;
    z-index: -1;
    right: -250px;
    top: 0px;
    width: 570px;
}

@media (max-width: 1400px){
    .decoration-stripe{
        width: 200px;
    }
    .image-container{
        margin-right: 200px;
    }
}

@media (max-width: 1300px){
    .decoration-stripe{
        width: 150px;
    }
    .image-container{
        margin-right: 150px;
    }
}

@media (max-width: 1190px){
    .decoration-stripe{
        display: none;
    }
    .image-container{
        display: none;
    }
    .text-container{
        padding: 100px;
        width: 100%;
    }
}

@media (max-width: 670px){
    .text-container{
        h1{
            font-size: 75px;
        }
        p{
            font-size: 13px;
        }
    }
}

@media (max-width: 595px){
    .text-container{
        h1{
            font-size: 55px;
        }
    }
}

@media (max-width: 500px){
    .text-container{
        padding: 10%;
        h1{
            font-size: 45px;
        }
    }
}