<div class="text-container">
    <h1>About me</h1>
    <p>Hi, I am a Front-end developer based in Brunswick, Germany(...) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam quia, est et impedit accusantium veritatis quo animi quae tenetur, doloribus obcaecati consequuntur corporis tempora neque, voluptates sint vel qui laborum?</p>
    <div class="personal-things-section">
        <div class="personal-thing">
            <img src="../../assets/img/bulb green.svg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates aliquam cumque quasi exercitationem, quod architecto iste deserunt voluptatibus officiis sed molestias fugiat itaque odit dolore. Illo velit nemo labore!</p>
        </div>
        <div class="personal-thing">
            <img src="../../assets/img/puzzle green.svg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptates aliquam cumque quasi exercitationem, quod architecto iste deserunt voluptatibus officiis sed molestias fugiat itaque odit dolore. Illo velit nemo labore!</p>
        </div>
    </div>
</div>
<div class="image-container">
    <img src="../../assets/img/konrad-round.png" alt="">
</div>
<div class="decoration-stripe"></div>
