<div class="text-container">
    <h1>About me</h1>
    <p>Hi, I am a Front-end developer based in Brunswick, Germany. The boundless possibilities of the IT industry have always fascinated me and sparked my curiosity. This fascination has evolved into a deep passion for designing appealing, intuitive, and user-friendly websites and applications.</p>
    <div class="personal-things-section">
        <div class="personal-thing">
            <img src="../../assets/img/bulb green.svg" alt="">
            <p>In my work, I see programming not just as writing code, but as a form of creative problem-solving. One of my strengths, which I am particularly proud of, is my ability to translate complex technical challenges into simple and user-friendly solutions. In this way, I can support people in achieving their goals and turning their visions into reality.</p>
        </div>
        <div class="personal-thing">
            <img src="../../assets/img/puzzle green.svg" alt="">
            <p>I love being part of this dynamic industry, shaping the digital landscape, and utilizing the seemingly endless creativity and innovation potential of the IT sector. It's this fulfilling task that excites me anew for my work every day.</p>
        </div>
    </div>
</div>
<div class="image-container">
    <img src="../../assets/img/konrad-round.png" alt="">
</div>
<div class="decoration-stripe"></div>
<img class="shadow" src="../../assets/img/Purple shadow 1.svg">
