.header-container{
    display: flex;
    height: 110px;
    align-items: center;
    padding: 0 100px;
    justify-content: space-between;
    width: 100%;
    left: 0;
    top: 0;
    right: 0px;
}

.logo-container{
    
    svg {
        width: 200px; 
        height: 35px;
    }

    &:hover{
        cursor: pointer;
    }
}

.link-container{
    display: flex;
    
    a{
        font-size: 23px;
        font-weight: 400;
        color: #FFFFFF;
        text-decoration: none;
        margin-left: 30px;
        transition: 225ms ease-in-out;

        &:hover{
            color: #70E61C;
            transition: 200ms ease-in-out;
        }
    }
}

.link-underline{
    width: 55.5px;
    height: 0px;
    border-bottom: 3px solid #9747FF!important;
    margin-top: 4px;
    transition: 200ms ease-in-out ;
    opacity: 0;
}

.active{
    opacity: 1 !important;
    transition: 200ms ease-in-out;
}

.burger-menu{
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

// .overflow-hidden{
//     overflow: hidden;
// }

@media (max-width: 770px){
    .link-container{
        display: none;
    }

    .burger-menu{
        display: flex;
    }
}

@media (max-width: 500px){
    .header-container{
        padding: 0 10%;
    }
}

.open-burger-menu {
    content: url("../../assets/img/Property 1=CLOSE FINAL.png");
}

.close-burger-menu {
    content: url("../../assets/img/burger menu.png");
}

@keyframes openBurgerMenu{
    0%{
        background-image: url("../../assets/img/burger menu.png");
    }
    25%{
        background-image: url("../../assets/img/Property 1=Transition.png");
    }

    50%{
        background-image: url("../../assets/img/Property 1=close medium.png");
    }

    100%{
        background-image: url("../../assets/img/Property 1=CLOSE FINAL.png");
    }
}

@keyframes closeBurgerMenu{
    0%{
        background-image: url("../../assets/img/Property 1=CLOSE FINAL.png");
    }
    25%{
        background-image: url("../../assets/img/Property 1=close medium.png");
    }
    
    50%{
        background-image: url("../../assets/img/Property 1=Transition.png");
    }
    100%{
        background-image: url("../../assets/img/burger menu.png");
    }
}