<div class="img-container">
    <div class="single-skill" *ngFor="let skill of skills; let i = index">
        <img  src="{{skill.url}}" alt="">
        <h3>{{skill.name}}</h3>
    </div>
</div>
<div class="description-skills">
    <h1>My Skills</h1>
    <p>I have gained experience in building projects with various front end technologies and concepts.</p>
    <div class="button-container">
        <a class="button-green" href="#contact">Get in touch</a>
    </div>
</div>
<div class="decoration-stripe"></div>