.headline-section {
    position: relative;
    margin-bottom: 100px;
}

.single-portfolio {
    width: calc(100% - 200px);
    padding: 0 100px;
    display: flex;
}

.description {
    width: calc(50% - 100px);
    padding-top: 80px;
    padding-right: 75px;
    text-align: right;
}

.technology-container {
    display: inline-flex;
    p {
        margin: 0 7px 0 0;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        color: #70E61C;

    }
}

.margin {
    margin: 0 0 0 7px !important;
}

.description-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.url-container {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 375px;
}

.test-url {
    display: flex;
    font-size: 23px;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    text-decoration: none;
    color: #FFFFFF;
    background: #9747FF;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background: #70E61C;
        transition: 200ms ease-in-out;
    }
}

.git-url {
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 140px;
    height: 60px;
    border: 1px solid #70E61C;
    border-radius: 10px;

    &:hover {
        background: #70E61C;
        transition: 200ms ease-in-out;
    }
}

.img {
    width: calc(50% - 100px);
    display: flex;
    padding-left: 75px;
    img{
        width: 520px;
        height: 533px;
    }
}

.flex-reverse {
    flex-direction: row-reverse !important;
}

.text-align {
    text-align: left !important;
}

.decoration-stripe {
    position: absolute;
    width: 58px;
    height: 0px;
    border: 4px solid #9747FF;
    right: 0;
    top: 56px;
}

.padding-right {
    padding-right: 75px !important;
    padding-left: 0 !important;
}

.padding-left {
    padding-left: 75px !important;
    padding-right: 0 !important;
}

.flex-inherit {
    flex-direction: inherit !important;
}

.shadow-one{
    position: absolute;
    top: 50%;
    z-index: -1;
    left: -215px;
}

.shadow-two{
    position: absolute;
    bottom: 0;
    width: 460px;
    transform: rotate(65deg);
    right: -190px;
}