<div class="headline-section">
    <div class="decoration-stripe" style="width: 2000px; right: -2000px;"></div>
    <h1>Portfolio</h1>
    <p>This page is a sample of my work - please feel free to try them out.</p>
    <div class="decoration-stripe" style="width: 110px; left: -100px;"></div>
</div>
<div class="portfolio-section">
    <div *ngFor="let project of projects; let i = index" [ngClass]="{'flex-reverse': i%2 == 0}" class="single-portfolio">
        <div class="description" [ngClass]="{'text-align': i%2 == 0, 'padding-left': i%2 == 0}">
            <h4>{{project.name}}</h4>
            <div class="technology-container">
                <p [ngClass]="{'margin': i%2 == 1}" class="tecnologies-text" *ngFor="let technology of project.technologies">{{technology}}</p>
            </div>
            <p class="description-text">{{project.description}}</p>
            <div class="url-container">
                <a class="test-url"  href="{{project.url[0]}}" target="_blank">Live test</a>
                <a class="git-url" href="{{project.url[1]}}" target="_blank">GitHub</a>
            </div>
        </div>
        <div class="img" [ngClass]="{'padding-right': i%2 == 0, 'flex-inherit': i%2 == 0}">
            <img src="{{project.img}}">
        </div>
    </div>
</div>
<img class="shadow-one" src="../../assets/img/Purple shadow portfolio section.svg">
<img class="shadow-two" src="../../assets/img/Green shadow 3 (skills and portfolio section).svg" >
