<h1>Contact</h1>
<div class="contact-container">
    <div class="contact-description">
        <h3>Got a problem to solve?</h3>
        <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</p>
        <p>Need a Frontend developer? <b>contact me!</b></p>
    </div>
    <div class="contact-form">
        <form (ngSubmit)="onSubmit(formContact)" [formGroup]="contactForm" #formContact="ngForm" >
            <input formControlName="name" name="name" type="text" placeholder="Name">
            <input formControlName="email" name="email" type="email" placeholder="Email">
            <textarea formControlName="message" name="message" cols="30" rows="4" placeholder="Message"></textarea>
            <button [disabled]="emailSent" type="submit" translate class="button-green">Send Message :)</button>
        </form>
    </div>
</div>