<h1>Contact</h1>
<div class="contact-container">
    <div class="contact-description">
        <h3>Got a problem to solve?</h3>
        <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</p>
        <p>Need a Frontend developer? <b>contact me!</b></p>
    </div>
    <div class="contact-form">
        <form>
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
            <button class="button-green">Send Message :)</button>
        </form>
    </div>
</div>