.contact-container {
    display: flex;
    justify-content: space-between;
}

.contact-description {
    margin: 40px 40px 0 0;
    display: flex;
    flex-direction: column;
    width: 480px;
}

.contact-form {
    position: relative;
    width: 620px;
    margin-top: 40px;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        width: 100%;
        height: 100%;

        input {
            outline: none;
            color-scheme: dark;
            background-color: #141D2F;
            width: 568px;
            height: 50px;
            padding: 15px 25px 15px 25px;
            border: 1px solid #9747FF;
            border-radius: 10px;

            &::placeholder {
                color: #FFFFFF;
                font-size: 16px;
                line-height: 19px;
                font-family: 'Poppins';
                font-weight: 400;
            }

            &:hover {
                border: 1px solid #1CDAE6;
                background-color: rgba(0, 0, 0, 0);
            }
        }

        textarea {
            outline: none;
            background-color: rgba($color: #000000, $alpha: 0);
            width: 568px;
            height: 200px;
            padding: 15px 25px 15px 25px;
            border: 1px solid #9747FF;
            border-radius: 10px;
            color: #FFFFFF;
            resize: none;

            &::placeholder {
                color: #FFFFFF;
                font-size: 16px;
                line-height: 19px;
                font-family: 'Poppins';
                font-weight: 400;
            }

            &:hover {
                border: 1px solid #1CDAE6;
            }
        }

        p {
            width: 100%;
        }
    }
}

input:-webkit-autofill {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.submit-button-container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
        width: 40px;
        height: 40px;

        &:hover {
            content: url(../../assets/img/go-up-button-green.svg);
        }
    }
}

.decoration-stripe {
    position: absolute;
    width: 50px;
    height: 0;
    left: 0;
    top: 48px;
    border: 4px solid #9747FF;
}

.shadow {
    position: absolute;
    bottom: -841px;
    left: -523px;
    width: 900px;
}

.error {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    color: #E61C40;
    text-align: left;
    transition: all 225ms ease-in-out;
    opacity: 0;
}

.invalid {
    background: url("../../assets/img/!.png") no-repeat right 25px top 25px !important;
    border-color: #E61C40 !important;
    input:-internal-autofill-selected {
        background-color: rgba(0, 0, 0, 0) !important;
        color: white !important;
    }
}

.valid {
    background: url("../../assets/img/check.png") no-repeat right 25px top 25px !important;
    border-color: #70E61C !important;
    input:-internal-autofill-selected {
        background-color: rgba(0, 0, 0, 0) !important;
        color: white !important;
    }
    
}

.message-send-container {
    z-index: -1;
    background-color: #141D2F;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 1px solid #70E61C;
    border-radius: 10px;
    opacity: 0;
    background-color: #141D2F;
}

.message-sent-animation {
    animation-name: messageSentAnimation;
    animation-duration: 2s;
    animation-fill-mode: ease-in-out;
}

@keyframes messageSentAnimation {
    0% {
        opacity: 0;
        z-index: 0;
    }
    10%{
        opacity: 1;
        z-index: 0;
    }
    24%{
        opacity: 1;
        z-index: 0;   
        top: 30%;
    }
    80%{
        opacity: 1;
        z-index: 0;
        top: 30%;
    }
    99%{
        z-index: 0;
    }
    100% {
        opacity: 0;
        top: 0;
        z-index: -1;
    }
}