<h1>Contact</h1>
<div class="contact-container">
    <div class="contact-description">
        <h3>Got a problem to solve?</h3>
        <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
            projects with my work.</p>
        <p>Need a Frontend developer? <b>contact me!</b></p>
    </div>
    <div class="contact-form">
        <form (ngSubmit)="onSubmit(formContact)" [formGroup]="contactForm" #formContact="ngForm" autocomplete="no">

            <input autocomplete="no" [ngClass]="{'invalid': nameValid == 2, 'valid': nameValid == 1}" formControlName="name" name="name"
                type="text" placeholder="Name" id="inputName" (keyup)="checkValidation()">
            <p [ngClass]="{'opacity': nameValid == 2}" class="error">Your name is required!</p>

            <input autocomplete="no" [ngClass]="{'invalid': emailValid == 2, 'valid': emailValid == 1}" formControlName="email"
                name="email" type="email" placeholder="Email" id="inputEmail" (keyup)="checkValidation()">
            <p [ngClass]="{'opacity': emailValid == 2}" class="error">Please enter a valid email address!</p>

            <textarea autocomplete="no" [ngClass]="{'invalid': messageValid == 2, 'valid': messageValid == 1}" formControlName="message"
                name="message" cols="30" rows="4" placeholder="Message" id="inputMessage" (keyup)="checkValidation()"></textarea>
            <p [ngClass]="{'opacity': messageValid == 2}" class="error">Please enter a message with atleast 10
                characters!
            </p>

            <div class="submit-button-container">
                <button [disabled]="emailSent" type="submit" class="button-green">Send Message :)</button>
            </div>
        </form>
        <div class="message-send-container" [ngClass]="{'message-sent-animation': emailSent }">
            <h3 translate>Email was sent successfully!</h3>
            <p translate>I will send you an answer as soon as possible!</p>
        </div>
    </div>
</div>

<div class="button-container">
    <a href="#intro"><img src="../../assets/img/go-up-button.svg"></a>
</div>

<div class="decoration-stripe"></div>

<img class="shadow" src="../../assets/img/Purple shadow footer V2.svg">