body {
    font-family: 'Poppins';
    background-color: #141D2F;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 90px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 0;
    z-index: 3;
    position: relative;
}

h2 {
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 0;
}

h3 {
    color: #FFFFFF;
}

h4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #9747FF;
}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}