

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    background-color: #141D2F;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 90px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 0;
    z-index: 3;
    position: relative;
}

h2 {
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 0;
}

h3 {
    color: #FFFFFF;
    margin: 0;
}

h4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #9747FF;
}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

a{
    transition: 225ms ease-in-out;
}

input {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Poppins';
    font-weight: 400;
}

textarea {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Poppins';
    font-weight: 400;
}

.button-green{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: #70E61C;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Poppins';
    font-weight: 400;
    cursor: pointer;
    transition: 200ms ease-in-out;
    &:hover {
        background: #9747FF;
        transition: 200ms ease-in-out;
        width: 220px;
        height: 70px;
    }
}

.social-button-container {
    width: 280px;
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;

    img {
        margin: 0 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;

        &:hover {
            width: 50px;
            height: 50px;
            margin: 0 15px;
            transition: 200ms ease-in-out;
        }
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 20px;
        width: 40px;
        height: 30px;
        cursor: pointer;
    }
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(20, 29, 47, 0.8);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(123, 71, 178); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #514a9a; 
  }