.content-container {
    padding-top: 110px !important;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    min-height: calc(100vh - 370px);
    justify-content: center;
    padding: 0% 100px;

    a{
        color: #70E61C;
        text-decoration: none;
    }
}

@media (max-width: 640px){
    h1{
        font-size: 35px;
    }
    .content-container{
        padding: 0% 10%;
    }
}