.content-container {
    position: relative;
    top: 110px;
    padding: 100px 100px;
    margin-top: 60px;
    height: calc(100vh - 505px);
    overflow-y: hidden;

    a{
        color: #70E61C;
        text-decoration: none;
    }
}

@media (max-width: 640px){
    h1{
        font-size: 40px;
    }
    .content-container{
        padding: 10% 50px;
    }
}