<div id="upper-section" class="upper-section">
    <img id="picture-container" class="picture-container" src="../../assets/img/profile-no-bg (2).png">
    <div class="intro-right">
        <div class="text-section">
            <div class="i-am-section">
                <h2>I am</h2>
            </div>
            <div class="name-section">
                <h1>Konrad Thiemann</h1>
                <p>FRONTEND DEVELOPER</p>
            </div>
        </div>
        <div class="button-container">
            <a href="#contact" class="button-green">Let's talk!</a>
        </div>
    </div>
    <img id="curve" class="curve" src="../../assets/img/curve.png">
</div>


<div class="lower-section">
    <div class="lower-section-left">
        <div class="decoration-stripe"></div>
        <div class="social-button-container">
            <a href="https://github.com/konradthiemann" target="_blank">
                <img src="../../assets/img/github-icon.svg">
            </a>
            <a href="mailto:mail@konrad-thiemann.de">
                <img src="../../assets/img/mail-icon.svg">
            </a>
            <a href="https://www.linkedin.com/in/konrad-thiemann-15ab16259/" target="_blank">
                <img src="../../assets/img/linkedin-icon.svg">
            </a>
        </div>
        <a class="mail-to" href="mailto:mail@konrad-thiemann.de">mail@konrad-thiemann.de</a>
    </div>
</div>

<div class="scroll-down-section">
    <p>Scroll down</p>
    <img src="../../assets/img/arrow-down.svg">
</div>




<img class="profile-shadows" src="../../assets/img/profile shadows.svg" alt="">