.upper-section {
    z-index: 1;
    padding: 110px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picture-container {
    display: flex;
    height: 800px;

    img {
        z-index: 1;

    }
}

.intro-right {
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.text-section {
    display: flex;

    p {
        font-weight: 400;
        font-size: 58px;
        line-height: 120%;
        color: #9747FF;
        margin: 0;
    }
}

.i-am-section {
    transform: rotate(-90deg);
    align-items: center;
    display: flex;
}

.button-container {
    height: 100px;
    align-items: center;
    display: flex;
}

.curve {
    left: 0;
    position: absolute;
    top: 648px;
    width: 100%;
    height: 650px;
    z-index: 1;
}

.lower-section {
    margin-top: 30px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-shadows {
    position: absolute;
    width: 120px;
    left: 0px;
    top: 336px;
    width: 1007px;
}

.lower-section {
    padding: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.lower-section-left {
    z-index: 3;
    align-items: center;
    display: flex;

    a {
        font-weight: 400;
        font-size: 23px;
        width: 40px;
        height: 28px;
        text-decoration: none;
        color: #FFFFFF;
        cursor: pointer;
    }
}

.decoration-stripe {
    width: 100px;
    height: 0px;
    border: 4px solid #9747FF;
}

.scroll-down-section {
    z-index: 3;
    display: flex;
    position: absolute;
    align-items: baseline;
    right: 0;
    bottom: 0;
    transform: rotate(90deg) translateX(-50%);

    p {
        margin: 0 7px 0 0;
        width: 133px;
        height: 28px;
        font-size: 23px;
        font-weight: 400;
        color: #FFFFFF;
    }

    img {
        transform: rotate(-90deg);
        width: 16px;
        height: 16px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1800px) {
    .text-section {
        h2 {
            font-size: 54px;
        }

        h1 {
            font-size: 80px;
        }

        p {
            font-size: 48px;
        }
    }

    .picture-container {
        height: 750px;
    }

    .curve {
        top: 482px;
        height: 934px;
    }
}

@media (max-width: 1640px) {
    .text-section {
        h2 {
            font-size: 44px;
        }

        h1 {
            font-size: 70px;
        }

        p {
            font-size: 38px;
        }
    }

    .picture-container {
        height: 700px;
    }

    .curve {
        top: 435px;
    }
}

@media (max-width: 1490px) {
    .text-section {
        h2 {
            font-size: 34px;
        }

        h1 {
            font-size: 60px;
        }

        p {
            font-size: 28px;
        }
    }

    .picture-container {
        height: 700px;
    }
}

@media (max-width: 1375px) {
    .text-section {
        h2 {
            font-size: 24px;
        }

        h1 {
            font-size: 50px;
        }

        p {
            font-size: 18px;
        }
    }

    .picture-container {
        height: 650px;
    }

    .curve {
        top: 319px;
        height: 1100px;
        width: 120%;
    }
}

@media (max-width: 1225px) {
    .picture-container {
        height: 600px;
    }

    .upper-section {
        flex-direction: row;
    }

    .curve {
        top: 300px;
        height: 1020px;
        bottom: -101px;
    }
}

@media (max-width: 1190px) {
    .text-section {
        h2 {
            font-size: 54px;
        }

        h1 {
            font-size: 80px;
        }

        p {
            font-size: 48px;
        }
    }

    .upper-section {
        flex-direction: column;
        overflow: hidden;
    }

    .profile-shadows {
        left: 50%;
        transform: translateX(-50%);
        top: 106px;
        width: 1013px;
    }

    .curve {
        height: 1063px;
        z-index: 0;
        width: 2031px;
        top: 286px;
    }

    .profile-shadows {
        z-index: -1;
    }

    .picture-container {
        margin-bottom: 80px;
    }

    .scroll-down-section {
        display: none;
    }
}

@media (max-width: 1080px) {
    .text-section {
        h2 {
            font-size: 44px;
        }

        h1 {
            font-size: 70px;
        }

        p {
            font-size: 38px;
        }
    }
}

@media (max-width: 965px) {
    .text-section {
        h2 {
            font-size: 24px;
        }

        h1 {
            font-size: 50px;
        }

        p {
            font-size: 18px;
        }
    }
}

@media (max-width: 750px) {
    .text-section {
        h2 {
            font-size: 19px;
        }

        h1 {
            font-size: 45px;
        }

        p {
            font-size: 13px;
        }
    }

    .mail-to {
        display: none;
    }

    .lower-section-left {
        width: 100%;
    }

    .social-button-container {
        width: 68%;
    }

    .decoration-stripe {
        width: 14%;
    }
}

@media (max-width: 750px) {
    .text-section {
        h1 {
            font-size: 35px;
        }
    }
}

@media (max-width: 520px) {
    .picture-container {
        height: 500px;
    }

    .curve {
        height: 1233px;
        top: 111px;
    }
}

@media (max-width: 395px) {
    .picture-container {
        height: 450px;
    }

    .curve {
        top: -19px;
        height: 1439px;
    }

    .text-section {
        h1 {
            font-size: 30px;
        }
    }

    .decoration-stripe {
        width: 10%;
    }
}

@media (max-height: 670px) {
    .lower-section {
        height: 140px;
        margin: 0;
    }

    .curve {
        top: -79px;
        height: 1439px;
    }
    .picture-container{
        height: 377px;
    }
    .upper-section{
        padding: 124px 100px;
    }
}

@media (max-height: 900px){
    .upper-section{
        padding: 71px 100px;
    }
    .curve{
        top: 75px;
    }
}

@media (max-height: 851px){
    .upper-section{
        padding: 71px 100px;
    }
    .curve{
        top: -58px;
    }
}