app-intro {
    position: relative;
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    // top: 110px;
    bottom: 0;
    overflow: hidden;
    padding-top: 110px;
    // min-height: calc(100vh - 100px);
    position: relative;
}

app-about-me {
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    padding-top: 110px;
    overflow-x: hidden;
}

app-my-skills {
    display: flex;
    position: relative;
    z-index: 3;
    justify-content: space-between;
    padding: 280px 100px 0 100px;
    // overflow-x: hidden;
    // height: 600px;
    padding: 150px 100px;
}

app-portfolio {
    padding-top: 110px;
    position: relative;
    overflow: hidden;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

app-contact {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    overflow: hidden;
}

app-slide-in-menu {
    position: fixed;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 110px);
    width: 100vw;
    background-color: rgba(20, 29, 47, 0.8);
    top: 110px;
    left: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.slide-in-menu-open {
    transform: translateX(0);
}



@media (max-width: 1190px) {
    //app-intro {
    //    align-items: center;
    //}

    app-about-me {
        align-items: center;
    }

    app-my-skills {
        flex-direction: column-reverse;
        width: calc(98vw - 186px);
        padding: 100px 100px 100px 100px;
    }

    app-portfolio {
        padding: 100px 10% !important;
    }

    app-contact {
        padding: 0 10% !important;
    }
}

@media (max-width: 500px) {
    app-my-skills {
        padding: 100px 10% 100px 10%;
        width: calc(98vw - 20%);
    }
}

// @media (max-height: 670px) {
//     app-intro {
//        height: 100%;
//     }
// }